{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": ".swcrc",
			"options": {
				"parser": "json"
			}
		}
	],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^node:(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
